body {
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 20px auto 0 100px;
    padding: 20px;
}

.txtArea {
    background-color: lightcyan;
    text-align: left;
    margin: 5px 0px 2px 0px;
}

#encrypt {
    background-color: #b6e9b8;
    border: 2px solid #73AD21;
    border-radius: 5px;
    color: rgb(5, 5, 5);
    padding: 8px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 1px 1px;
    cursor: pointer;
}

#decrypt {
    background-color: #b6e9b8;
    border: 2px solid #73AD21;
    border-radius: 5px;
    color: rgb(5, 5, 5);
    padding: 8px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 1px 1px;
    cursor: pointer; 
}

#reset {
    background-color: #b6e9b8;
    border: 2px solid #73AD21;
    border-radius: 5px;
    color: rgb(5, 5, 5);
    padding: 8px 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 1px 3px 5px 140px;
    cursor: pointer;

}

.field {
    width: 390px;
    height: 250px;
    border-radius: 5px;
    padding: 13px 15px 0px 15px;
    margin: 10px 0px 0px 0px;
}

#encryptText {
        text-decoration: line-through;
}
